* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  background: url(./assets/bcg.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}
.home .nav-links:hover {
  color: purple;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 500ms ease-in-out;
}
h1 {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.home .nav-links {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 40px;
  border: 2px solid white;
  border-radius: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.card {
  width: 95%;
  margin: 0 auto;
}
.card img {
  width: 100%;
}
