:root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.underline {
  text-decoration: underline;
  font-weight: 500;
  color: grey;
}
/* Home Page */
.home {
  background: url(./assets/homebcg.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.bcg-img {
  background: url(./assets/eventsbcg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 40%;
  border-radius: 20px;
}
li {
  list-style: none;
  padding-top: 20px;
}
.navbar {
  justify-content: space-between;
  padding: 13rem;
}
h1 {
  padding: 0;
  margin: 0;
}
.explore-homepage {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10rem;
  margin: 3rem;
}
.explore-homepage p {
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.explore-link {
  text-decoration: none;
  color: #9f6dde;
  padding: 15px 35px;
  border-radius: 25px;
  font-size: 20px;
  border: 3px solid #9f6dde;
  font-weight: 600;
}
.explore-link:hover {
  color: #fff;
  cursor: pointer;
  background-color: #b791e5;
  color: #fff;
  transition: all 300ms ease-in-out;
}

/* header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
} */
/* About */
.about {
  background: url(./assets/eventsbcg.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  padding-top: 10rem;
  overflow-x: hidden;
}
.about h2 {
  color: #9f6dde;
}
.dnd-img {
  width: 32rem;
  border-radius: 4px;
  margin: 3rem;
}
.about .dnd-description {
  width: 70%;
  /* margin: 3rem; */
  margin-left: 8rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 4rem;
}
/* Navbar */
.home .nav-links {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 40px;
  border: 3px solid white;
  border-radius: 30px;
  font-size: 18px;
}
.home .nav-links:hover {
  color: #9f6dde;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 300ms ease-in-out;
}
.events .nav-links,
.event .nav-links,
.board .nav-links {
  color: #9f6dde;
  text-decoration: none;
  padding: 10px 15px;
  margin: 40px;
  border: 3px solid #9f6dde;
  border-radius: 30px;
  font-size: 18px;
}
.events .nav-links:hover,
.board .nav-links:hover,
.event .nav-links:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #9f6dde;
  transition: all 300ms ease-in-out;
}
.board .nav-links .events h1,
h3 {
  color: #9f6dde;
}
.events h1 {
  font-weight: bold;
  padding: 20px;
  font-size: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.container {
  margin: 0 auto;
}
.card {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  margin: 10px;
  border: #404244;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  justify-content: space-around;
}
.card img {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 10px;
}

.card button {
  background-color: #fff;
  border: 1px solid #9f6dde;
  border-radius: 5px;
  color: #9f6dde;
  padding: 10px 25px;
  width: 100%;
  text-decoration: none;
}
.card button:hover {
  color: #fff;
  background-color: #9f6dde;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
.back-home a {
  padding: 10px 20px;
  margin: 10px;
}
.date-location {
  color: grey;
}
.events select {
  margin: 15px;
}
.board {
  background: url(./assets/boardbcg.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}
.board h1 {
  text-align: center;
  color: #9f6dde;
  font-weight: bold;
  padding-top: 10px;
}
th,
td {
  background-color: #fff;
  color: #9f6dde;
}
.event .card {
  max-width: 40%;
  margin: 0 auto;
}
.event form {
  text-align: center;
}
.event input {
  margin: 10px;
}
.event button:hover,
.back-home:hover {
  color: #fff;
  background-color: #9f6dde;
  transition: all 300ms ease-in-out;
}
.create-page {
  background: url(./assets/plain-purple.jpg) no-repeat center center/cover;
}
.create-page h1 {
  color: #9f6dde;
}
.cancel-btn {
  text-decoration: none;
}

.back-home {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border: 1px solid #9f6dde;
  border-radius: 6px;
  opacity: 90%;
}
.back-home a {
  color: #9f6dde;
  text-decoration: none;
}
.back-home:hover,
.back-home a:hover {
  color: #fff;
}

/* @media only screen and (min-width: 601px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
} */
@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
    flex-direction: column;
  }
}

.footer section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #9562d6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #404244;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
  text-decoration: none;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: " ";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #404244;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
